*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  margin: 0;
  font-family: 'GothamPro', sans-serif;
  overflow: hidden;
  touch-action: none;
}
@font-face {
  font-family: GothamPro;
  src: url(src/fonts/gothamPro.ttf);
}
@font-face {
  font-family: LatoRegular;
  src: url(src/fonts/Lato-Regular.ttf);
}
.hide {
  display: none;
}
.container {
  width: 100%;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.container--slide2 {
  max-width: 500px;
}
.slide1 {
  background: url("src/images/background_slide1.jpg") center;
  background-size: contain;
  height: 100vh;
}
.slide1__head {
  padding-top: 20%;
  color: #0d319c;
  font-size: 38px;
  font-weight: 300;
}
.slide1__ellipse1 {
  width: fit-content;
  margin-left: 53.5%;
  margin-top: 1%;
}
.slide1__ellipse2 {
  width: fit-content;
  margin-left: 15.5%;
  margin-top: 18%;
}
.slide1__ellipse3 {
  width: fit-content;
  margin-left: 42%;
  margin-top: 11%;
}
.slide1__ellipse4 {
  width: fit-content;
  margin-left: 85.5%;
  margin-top: -4%;
}
.slide2 {
  background: url("src/images/background_slide2.jpg") center;
  background-size: contain;
  height: 100vh;
}
.slide2__head {
  text-align: center;
  padding-top: 45%;
  color: #fff;
  font-size: 40px;
  font-weight: 300;
}
.slide3 {
  background: url("src/images/background_slide3.jpg") center;
  background-size: contain;
  height: 100vh;
}
.dots {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 15px;
  top: 50%;
}
.dots__item {
  width: 10px;
  height: 10px;
  margin-top: 4px;
  background-color: #fff;
  border-radius: 50%;
}
.dots__item--active {
  background-color: #f78b1f;
}
.scroll-down {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.scroll-down__text {
  position: absolute;
  top: 35px;
  color: #fff;
  text-align: center;
  width: 100%;
}
.scroll-down__arrow {
  position: relative;
  width: 30px;
  margin: 0 auto;
}
.scroll-down__arrow__shape {
  position: absolute;
  top: 50px;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}
.scroll-down__image {
  width: 800px;
  vertical-align: bottom;
}
.scroll-down__image--shape {
  position: absolute;
  bottom: 0;
}
.slider {
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
}
.slider__inner {
  flex-wrap: nowrap;
  display: flex;
  width: max-content;
  transition: transform linear 0.4s;
}
.slider__item {
  width: 100vw;
}
.slider__item__text {
  margin: 10% 10% 0;
  color: #fff;
  font-size: 28px;
}
.slider__item__content {
  text-align: center;
  margin-top: 5%;
}
.slider__item--background1 {
  background: url('src/images/background_slider_item1.png') center no-repeat;
  background-size: contain;
}
.slider__item--background2 {
  background: url('src/images/background_slider_item2.png') center no-repeat;
  background-size: contain;
}
.slider__item--background3 {
  background: url('src/images/background_slider_item3.png') bottom no-repeat;
  background-size: contain;
}
.slider__bar {
  position: absolute;
  bottom: 10%;
  left: 20%;
  width: 600px;
  height: 10px;
  background-color: #d1eaff;
}
.slider__bar__img {
  position: absolute;
  top: -20px;
  margin-left: -15px;
}
.slider__bar__dates {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 600px;
  bottom: -40px;
}
.slider__bars__dates__text {
  color: #fff;
}
.ellipse {
  position: absolute;
  margin-left: 30px;
}
.ellipse--small {
  width: 20px;
  height: 20px;
}
.ellipse--middle {
  width: 30px;
  height: 30px;
}
.ellipse__text {
  color: #0d319c;
  font-family: 'LatoRegular', sans-serif;
}
