*,
*:before,
*:after{
    box-sizing: border-box;
}



h1,h2,h3,h4,h5,h6{
    margin: 0;
}

body{
    margin: 0;
    @font-face {
        font-family: GothamPro;
        src: url(src/fonts/gothamPro.ttf); 
    }
    @font-face {
        font-family: LatoRegular;
        src: url(src/fonts/Lato-Regular.ttf); 
    }
    font-family: 'GothamPro', sans-serif;
    overflow: hidden;
    touch-action: none;
}

.hide{
    display: none;
}


@import "./src/style-blocks/variables.less";
@import "./src/style-blocks/container.less";
@import "./src/style-blocks/slide1.less";
@import "./src/style-blocks/slide2.less";
@import "./src/style-blocks/slide3.less";
@import "./src/style-blocks/dots.less";
@import "./src/style-blocks/scroll-down.less";
@import "./src/style-blocks/slider.less";
@import "./src/style-blocks/ellipse.less";