//main: ../../style.less

.slide1{
    background: url("src/images/background_slide1.jpg") center;
    background-size: contain;
    height: 100vh;
}

.slide1__head{
    padding-top: 20%;
    color: #0d319c;
    font-size: 38px;
    font-weight: 300;
}

.slide1__ellipse1{
    width: fit-content;
    margin-left: 53.5%;
    margin-top: 1%;
}

.slide1__ellipse2{
    width: fit-content;
    margin-left: 15.5%;
    margin-top: 18%;
}

.slide1__ellipse3{
    width: fit-content;
    margin-left: 42%;
    margin-top: 11%;
}

.slide1__ellipse4{
    width: fit-content;
    margin-left: 85.5%;
    margin-top: -4%;
}
