//main: ../../style.less

.slide2{
    background: url("src/images/background_slide2.jpg") center no-repeat;
    background-size: contain;
    height: 100vh;

}

.slide2__head{
    padding-top: 197px;
}